<!DOCTYPE html>
<html>
<head>
<link href= "{{ url_for('static',filename='static/css/style.css') }}" rel="stylesheet" type="text/css" />
	<title>Predictor</title>
</head>
<body >
	
	<h2>Predicted DR stage</h2>
	<img src="stage1.jpeg" width="200px" height="150px" alt='img1'>
	<img src="{{ im2 }}" width="200px" height="150px" alt='img2'>
	<img src="{{ plt1 }}"width="200px" height="150px" alt='plot1'>
	<img src="{{ plt2 }}" width="200px" height="150px" alt='plot2'>

	<style>
		body{
		}
	</style>
	</style>
</body>
</html>
