<!DOCTYPE html>

<html lang="en">
<head>

</head>

<body id="page-top" style="background-color:#FFE87C">

	<h1 align="center">DETECT DIABETIC RETINOPATHY TO STOP BLINDNESS BEFORE IT'S TOO LATE</h1>


	
    <header class="test-1-card" id="tirth" style="height: 150vh; width: 100%;">

    	<p align="center">DEVELOPED BY ARUN KRISHNA K V, SABARISH S, SOUNDARRAJAN T</p>

        <div class="header-content text-center">

            <div class="header-content-inner">

				<form method="POST" action="/uploader" enctype = "multipart/form-data">		

				<div class="input-fields" align="center">
					 	<p>	<img src="../static/left_test_eye_circle.jpg"/> 
					 		<img src="../static/right_test_eye_circle.jpg"/>
					 	 </p>
	     				<p><input type="file" name="file" /> 
	     					<input type="file" name ="file" />
	     				</p>
					<div style="margin: 50px"></div>

						<input type="submit" value="Test" id="upload-button" />
				</form><br><br><br>
				<form action="/review" method="GET">

		<input type="submit" value="REVIEW WEBSITE" id="review_button"/>
	</form>

           </div>

        </div>

    </header>

</body>
</html>
